\begin{document}
\color{inkbody}
\setstretch{1.12}

% -----------------------------------------------------------------------
% Title page (genre title page or base default)
% -----------------------------------------------------------------------
@@TITLEPAGE@@

% Colophon - inner cover
\thispagestyle{empty}
\null\vfill
\begin{center}
  {\small\color{inkmuted} torsor lab\par}
  \vspace{0.4em}
  {\small\href{https://torsor.org}{\color{terracotta} torsor.org}}
\end{center}
\clearpage

% -----------------------------------------------------------------------
% Body matter (front / main / appendix / back, per the manifest)
% -----------------------------------------------------------------------
@@BODYMATTER@@

\end{document}
